<main class="bg-slate-300 h-full">
  <nav class="dark:bg-blue-900 border-b border-gray-200 shadow-sm">
    <div class="sm:px-4 py-2.5 px-2 container flex flex-row justify-between items-center mx-auto">
      <div class="flex items-center basis-1/3">
        <%= link_to fa_icon("chevron-left", class: "text-white"), categories_path %>
      </div>      
      <%= link_to category_purchases_path do %>
        <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">PURCHASES</span>
      <% end %>
      <div class="flex items-center justify-end basis-1/3">
        <%= link_to fa_icon("plus", class: "text-white"), new_category_purchase_path %>
      </div>
    </div>
    <div class="w-full flex items-center bg-white sm:px-4 py-2.5 px-2">
      <h2>Total price: <%= "$#{@total_price}" %></h2>
    </div>
  </nav>

  <div class="mt-2 flex flex-col gap-2 px-2">
    <% @purchases.each do |purchase| %>
      <div class="w-full bg-white p-2 pr-4 items-center justify-between gap-2 flex hover:bg-slate-50">
        <div class="flex items-center gap-2">
          <%= fa_icon "#{purchase.amount} 3x", class: "w-13 h-13" %>
          <h2 class="text-gray-800 font-sans"><%= purchase.name %></h2>
        </div>
        <%= link_to new_category_purchase_path(category_id: params['category_id']) do %>
          <h2><%= "$#{purchase.amount}" %></h2>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="w-full flex pt-2.5 h-screen">
    <div class="bg-lime-500 sticky mt-auto ml-auto bottom-5 p-3 w-full flex">
      <%= link_to "ADD", new_category_purchase_path, class: "bg-lime-500 text-xl text-center text-white mt-auto border border-2 border-slate-300 ml-auto bottom-5 p-2 w-full hover:border-white hover:font-bold" %>
    </div>
  </div>

</main>
